.categories{
  height: 100%;
  display: flex;

  .table{
    width: 300px;
    margin-right: 50px;
  }

  .addBlock{
    width: 300px;

    .input{
      margin-bottom: 20px;
      border: 1px solid rgba(33,37,41);
      background: rgba(33,37,41);
      color:#fff;
      &:focus{
        border: 1px solid rgba(33,37,41);
        background: rgba(33,37,41);
        color:#fff;
      }

      &.errorText{
        border: 1px solid red;
      }
    }

    .errorText{
      color:red;
      margin-bottom: 20px;
    }
  }

  &.light{
    .addBlock{
      .input{
        border: 1px solid #ddd;
        background: rgba(248, 249, 250, 1);
        color:#000;

        &:focus {
          border: 1px solid #ddd;
          background: rgba(248, 249, 250, 1);
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .categories{
    flex-direction: column-reverse;
    padding: 0 10px;
    .addBlock{
      margin-bottom: 20px;
    }
  }
}