.reviews {
  .item {
    display: flex;
    width: 100%;
    padding: 50px 0;
    position: relative;
    border-bottom: 2px solid rgba(136, 136, 136, 0.1);


    .image {
      width: 300px;
      height: 300px;
      margin-right: 50px;
      border-radius: 5px;
      object-fit: cover;
      border: 1px solid #000;
      margin-bottom: 0;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      color: #fff;
      max-width: 400px;

      .general {
        .name {
          font-size: 21px;
          letter-spacing: 1px;
          line-height: 1em;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: #0d6efd;

          .link {
            text-decoration: none;
            transition: .3s;
          }
        }

        .rating {
          display: flex;
          justify-content: start;
          align-items: center;
          color: #ff9900;
          margin-bottom: 10px;
          text-transform: uppercase;

          .text {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        .product {
          font-size: 15px;
          font-style: italic;
          text-transform: uppercase;
          color: #8a8989;
          margin-bottom: 10px;
        }

        .feedbacks {
          margin-bottom: 10px;
          color: greenyellow;

          b {
            color: red;

          }
        }

        .author {
          font-size: 15px;
          color: #ff9900;
          margin-bottom: 10px;
        }

        .category {
          font-size: 15px;
          font-style: italic;
          text-transform: uppercase;
          color: mediumpurple;
          margin-bottom: 20px;
        }

        .hashtags {
          margin-bottom: 10px;
          color: #dc3d01;

          .hashtag {
            color: inherit;
            text-decoration: none;
            transition: .3s;

            &:hover {
              color: #c03602;
            }
          }
        }
      }

      .created {
        justify-self: end;
        font-size: 12px;
        color: cornflowerblue;
      }
    }

    .btnBlock {
      position: absolute;
      top: 50px;
      right: 0;

      .btn {
        margin-left: 20px;
      }
    }
  }

  .description {
    width: 100%;
    padding: 50px 0;

    h4 {
      color: #0d6efd;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }

    div {
      color: #fff;
      font-size: 18px;
    }
  }

  &.light {
    .info{
      .general{
        .feedbacks{
          color: #1da866;
        }
      }
    }
    .description {
      div {
        color: #000;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0;
}

@media screen and (max-width: 992px) {
  .reviews{
    .item{
      display: block;
      padding: 20px 0;
      margin-bottom: 0;
      .image{
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
      }
      .info{
        max-width: 300px;
      }
      .btnBlock {
        position: absolute;
        top: 20px;
        right: 0;

        .btn {
          margin-left: 20px;
        }
      }
    }
    .description{
      padding: 20px;
    }
  }
}

@media screen and (max-width: 576px){
  .reviews{
    .item{
      padding: 10px;
      .btnBlock{
        position: static;
        .btn {
          margin:0 10px 20px 0;
        }
      }

    }
    .description{
      padding: 20px 10px;
    }
  }
}