  .form {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;

    .select {
      width: 200px;
      height: 40px;
      margin-right: 20px;
      border: 1px solid rgba(33,37,41);
      background: rgba(33,37,41);
      color:#fff;
      &:focus{
        border: 1px solid rgba(33,37,41);
        background: rgba(33,37,41);
        color:#fff;
      }
    }

    .inputBlock{
      width: 300px;
      position: relative;
      margin-right: 20px;
      height: 40px;

      .input {
        width: 100%;
        height: 40px;
        background: rgba(33,37,41);
        border: 1px solid rgba(33,37,41);
        color:#fff;

        &:focus{
          border: 1px solid rgba(33,37,41);
          background: rgba(33,37,41);
          color:#fff;
        }
      }
      .collapse{
        width: 300px;
        height: 130px;
        padding: 10px 0;
        position: absolute;
        border-radius: 5px;
        background: rgba(33,37,41);
        bottom:-140px;
        overflow: hidden;
        overflow-y: auto;
        left: 0;
        z-index: 1;

        a{
          display: block;
          width: 100%;
          text-align: left;
          text-decoration: none;
          padding: 5px 15px;
          background: rgba(0,0,0,0);
          border: none;
          color:mediumpurple;
          transition: .3s;

          small{
            display: block;
            font-size: 12px;
            color:#ff9900;
          }

          &:hover{
            color: #634a9a;
            background: #d6d8d9;
            small{
              color: #e38a04;
            }
          }
        }
      }
    }

    .searchBtn {
      height: 40px;
    }

    &.light{
      select{
        color:#000;
        border: 1px solid #ddd;
        background: rgba(248,249,250,1);
        &:focus{
          border: 1px solid #ddd;
          background: rgba(248,249,250,1);
          color:#000;
        }
      }
      .inputBlock{
        .input{
          border: 1px solid #ddd;
          background: rgba(248,249,250,1);
          color:#000;

          &:focus{
            border: 1px solid #ddd;
            background: rgba(248,249,250,1);
            color:#000;
          }
        }
      }
      .collapse{
        border: 1px solid #ddd;
        background:rgba(248,249,250,1) ;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .form{
      margin-bottom: 20px;
      display: block;
      .select{
        width: 400px;
        margin-bottom: 10px;
      }
      .inputBlock{
        width: 400px;
        margin-bottom: 10px;
        .collapse{
          width: 300px;
          left: 100px;
        }
      }
    }
  }

  @media screen and (max-width: 576px){
    .form{
      padding: 0 10px;
      .select{
        width: 200px;
        margin-bottom: 10px;
      }
      .inputBlock{
        width: 200px;
        margin-bottom: 10px;
        .collapse{
          width: 200px;
          left: 100px;
        }
      }
    }
  }